@charset "utf-8";
@use "reset";
:root {
    --fontColor: #000;
    --bg01: #000;
    --bg02: #fff;
    --bg03: tomato;
    --hover: #ccc;
    --mg-s: 10px;
}

// メディアクエリー
$pc: 768px;
$sp: 768px;

@mixin pc {
    @media screen and (min-width: ($pc)) {
        @content;
    }
}
@mixin sp {
    @media screen and (min-width: ($sp)) {
        @content;
    }
}

// ボタン
@mixin btn($bg-color,$font-color) {
    display: block;
    margin: 0 auto;
    padding: .5em 1em;
    box-sizing: border-box;
    font-size: 1.8rem;
    background: var($bg-color);
    color: var($font-color);
    border: solid 1px var($font-color);
    cursor: pointer;
}
/*************************************************
**************************************************/
html {
    font-size: 62.5%;
}

body {
    font-family: 'Sawarabi Gothic', 'sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--fontColor);
    background: var(--bg01);
}

.wrap {
    max-width: 768px;
    margin: 50px auto;
    border-radius: 20px;
    background: var(--bg02);
    padding: 40px 1em;
    box-sizing: border-box;
}

section {
    max-width: 768px;
    margin: 40px 3%;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.text {
    &--explain {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2em;
    }
}
.form {
    width: fit-content;
    margin: 0 auto;

    &__item {
        margin-bottom: 32px;
    }

    &__choice {
        display: block;
        padding: .5em 1em;
        margin-bottom: 1em;
        box-sizing: border-box;
        border: solid 1px var(--fontColor);
        cursor: pointer;
        &:hover {
            background-color: var(--hover);
        }
    }
}
.input {
    &--radio {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        &:checked + label {
            background-color: var(--hover);
        }
    }

    &--submit {
        @include btn(--bg01,--bg02);
        &:hover {
            opacity: .6;
        }
    }
}

#difficulty, #howMinute {
    display: none;
}

.result {
    display: none;
    h2 {
        text-align: center;
        font-weight: bold;
    }
    &__pose-box {
        text-align: center;
    }
    &__reset-btn {
        @include btn(--bg01,--bg02);
        margin-bottom: 1em;
        &:hover {
            opacity: .6;
        }
    }
    &__pose {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: calc(24px + 1em);
        margin-bottom: 24px;
    }
    &__wrap {
        position: relative;
        margin-bottom: .5em;
        max-width: 120px;
        width: 40%;
        padding-top: 3rem;
    }
    &__num {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.8rem;
        line-height: 1;
    }
    &__pose img {
        width: 100%;
        height: auto;
    }
    &__posejp {
        font-size: 2.4rem;
    }
    &__poseSanskrit {
        font-size: 1.6rem;
        margin: 0;
    }
    &__pose::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: inline-block;
        vertical-align: middle;
        color: #333;
        line-height: 1;
        width: 1em;
        height: 1em;
        border: 0.1em solid currentColor;
        border-left: 0;
        border-bottom: 0;
        box-sizing: border-box;
        transform: translateY(-25%) rotate(135deg);
    }
    &__pose:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &__pose:last-of-type::after {
        content: none;
    }
}

@media screen and (min-width: ($pc)) {
    .radio {
        &__wrap {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
        }
        &__wrap > div {
            margin-right: 1em;
        }
    }
}
